<template>
    <div id="todo">
        <div id="app">
            <!-- for example router view -->
            <router-view></router-view>
            <!-- set progressbar -->
            <vue-progress-bar></vue-progress-bar>
        </div>
        <div>
            <p id="p1">Total Tasks/Selected Tasks:{{allTodosCount}}/{{completedCount}} </p>
            Enter New Task:<input v-model="taskTitle" placeholder="Enter your Task" @keyup.enter="addTask" />
            <button id="addTask" v-on:click="addTask">Add New Task</button></div>
        <ul id="todoList" v-for="item in posts" :key="item.status">
            <input type="checkbox" v-if="item.status==='C'" :title="item.title"  :checked="true" @change=taskUpdate(item) />
            <input type="checkbox" :title="item.title" @change=taskUpdate(item) v-else /><span :class="blocked" >{{item.title}}</span>
        </ul>
    </div>
</template>

<script>
    import axios from 'axios';
    import { countBy, count } from 'vue-computed-helpers';
    export default {
        // props:{
            // strMessage: {
            //     type: String,
            //     default: ""
            // }
        // },
        data() {
            return {
                posts: [],
                errors: [],
                blocked:'MyStyle',
                taskTitle:"",
            }
        },
        computed: {
            allTodosCount: count('posts'),
            completedCount: countBy('posts', 'status', "C"),
        },
        methods: {
            addTask: function () {
                this.posts.push({
                    title: this.taskTitle ,
                    status:"P",
                })},
                taskUpdate(task)
                {
                    if(task.status=="P")
                    return task.status="C"
                    else
                        return task.status="P"
                }
            },
        mounted()
        {
        this.$Progress.finish()
        },
        created() {
            this.$Progress.start()
            axios.get("http://www.mocky.io/v2/5def60cd2f000065008e0991")
                .then(response => {
                    this.$Progress.finish()
                    this.posts = response.data;
                    // eslint-disable-next-line no-console
                    console.log("Response Text:",this.posts)
                })
                .catch(e => {
                    this.$Progress.fail()
                    this.errors.push(e)
                })
        },

    }
</script>
<style>
    .MyStyle { background-color: #3CBC8D;}
</style>