<template>
  <div id="app">
    <HelloWorld msg=""/>
    <TodoList />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TodoList from "./components/TodoList";
export default {
  name: 'app',
  components: {
    HelloWorld,
    TodoList,
  },
  mounted () {
    this.$Progress.finish()
  },
  created () {
    this.$Progress.start()
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
